/* login.component.css */

/* Pengaturan tata letak utama */
.col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Gaya Form Login */
.custom-login-form {
  font-family: 'Poppins'; /* Gunakan font Poppins */
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  width: 400px; /* Lebar form login */
  left: 95px;
  top: 151px;
  margin: 100px auto; /* Pusatkan form secara horizontal */
  background: #5E3FDE; /* Warna latar belakang form */
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(90, 89, 89, 0.1);
  padding: 50px;
  color: #FFFFFF; /* Warna teks */
}

/* Gaya Input Form */
.custom-input {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 100px 0;
}

/* Gaya Label Input Form */
.custom-input label {
  position: absolute;
  top: -42px;
  left: 0;
  font-size: 30px;
  font-weight: 600;
  color: #e4dbdb;
}

/* Gaya Input Form */
.custom-input input {
  width: 100%;
  height: 100%;
  background: #F0F0F0; /* Warna latar belakang input */
  border-radius: 15px;
  border: none;
  padding: 0 10px;
}

/* Gaya Tombol Login */
.btn-primary {
  width: 80%;
  font-family: 'Poppins', sans-serif; /* Gunakan font Poppins */
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #3405b4; /* Warna teks tombol */
  background: #f4f3f7; /* Warna latar belakang tombol */
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 10px;
  cursor: pointer;
}

/* Gaya Checkbox Remember Me */
.custom-checkbox {
  display: flex;
  align-items: left;
  margin-top: 50px;
}

.custom-checkbox input[type="checkbox"] {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  border: 15px solid #5E3FDE; /* Warna border checkbox */
  border-radius: 5px;
}

.custom-checkbox label {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

/* Gaya Tautan "Lupa Password?" */
.forgot-password-link {
  font-size: 18px;
  font-weight: 600;
  color: #e1dfe7; /* Warna tautan */
  float: right; /* Menggeser ke sebelah kanan */
  margin-top: 0px; /* Jarak atas yang lebih rendah */
  text-align: right; /* Pusatkan teks secara horizontal ke kanan */
}

/* Gaya Gambar Samping */
.custom-image {
  width: 120%;
  max-width: 720px; /* Lebar maksimum gambar */
  height: 800px; /* Tinggi otomatis disesuaikan */
  margin-top: 0px;
}

/* Responsif pada perangkat berukuran kecil (misalnya, ponsel) */
@media (max-width: 992px) {
   /* Sembunyikan gambar pada perangkat berukuran kecil */
  .custom-image {
    display: 52px;
    height: 800px;
  
  }
  

  .col-md-6 {
    align-items: flex-start; /* Pusatkan vertikal ke atas */
  }

  .custom-login-form {
    width: 110%; /* Lebar form login */
  }
  
  @media (min-width: 60%) and (max-width: 80%) {
    .custom-login-form {
      width: 80%; /* Mengubah lebar form menjadi 80% saat ukuran layar antara 60% hingga 80% */
      /* Anda dapat menyesuaikan dengan rentang lebar layar yang Anda inginkan */
      margin: 20px auto; /* Penyesuaian margin agar form tetap terpusat */
    padding: 20px; /* Penyesuaian padding untuk tampilan yang lebih baik */
    }
  }
}